################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

.vs
Debug
*.user
/packages/Microsoft.DXSDK.D3DX.9.29.952.8
*.csv#
