################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

.vs
*.user
/packages/Microsoft.DXSDK.D3DX.9.29.952.8
*.csv#
/Release/simple.cso
/Release/Sample.pdb
/Release/Sample.exe
/Release/d3dx9_43.dll
/Release/d3dx11_43.dll
/Release/d3dx10_43.dll
/Release/D3DCompiler_43.dll
/Sample/Release/Sample.tlog
/Sample/Release
/talklib2/Release/talklib2.tlog
/talklib2/Release
/Debug/simple.cso
/Debug/Sample.pdb
/Debug/Sample.exe
/Debug/d3dx9d_43.dll
/Debug/d3dx11d_43.dll
/Debug/d3dx10d_43.dll
/Debug/D3DCompiler_43.dll
/Sample/Debug/Sample.tlog
/Sample/Debug
/talklib2/Debug
/talklib2/x64/Debug
